dongnan2/src/main/resources/IFEntityService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IFEntityServiceService" targetNamespace="http://service.ws.vip.apps.new1step.com.au/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.ws.vip.apps.new1step.com.au/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://service.ws.vip.apps.new1step.com.au/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.ws.vip.apps.new1step.com.au/">
  <xs:element name="getEntityData" type="tns:getEntityData"/>
  <xs:element name="getEntityDataResponse" type="tns:getEntityDataResponse"/>
  <xs:complexType name="getEntityData">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEntityDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:entity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="entity">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="desc" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="genericException" type="tns:genericException"/>
  <xs:complexType name="genericException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="GenericException">
    <wsdl:part name="GenericException" element="tns:genericException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntityData">
    <wsdl:part name="parameters" element="tns:getEntityData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntityDataResponse">
    <wsdl:part name="parameters" element="tns:getEntityDataResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IFEntityService">
    <wsdl:operation name="getEntityData">
      <wsdl:input name="getEntityData" message="tns:getEntityData">
    </wsdl:input>
      <wsdl:output name="getEntityDataResponse" message="tns:getEntityDataResponse">
    </wsdl:output>
      <wsdl:fault name="GenericException" message="tns:GenericException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IFEntityServiceServiceSoapBinding" type="tns:IFEntityService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getEntityData">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getEntityData">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEntityDataResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="GenericException">
        <soap:fault name="GenericException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IFEntityServiceService">
    <wsdl:port name="IFEntityServicePort" binding="tns:IFEntityServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/IFEntityServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
